
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto; 
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


nav{
    max-width: 1600;
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-bottom: 16px;
    padding-top: 16px;
    background-color: #FFFFFF;
}

nav img{
    max-width: 139;
}


nav ul{
    max-width: 365px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 32px;  
}

.link-root a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
.link-root a:hover {
    background-color: lightgrey;
}

nav button{
    border-radius: 4px;
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}
nav button:hover {
    background-color: #6FCF97;
}


.hero-main {
    max-width: 1600px;
    max-height: 674px;
    background-image: url("./assets/hero-bg.png");
    padding: 70px 120px 134px 120px;
}

.hero {
    max-width: 1360px;
    max-height: 380px;
    text-align: center;
}

.first {
    max-width: 229px;
    max-height: 36px;
    background-color: #FFFFFF;
    border-radius: 1000px;
    display: inline;
    padding: 8px 12px;
    font-weight: 500;
    color: #469165;
    font-size: 16px;
    text-align: center;
    gap: 6px;
}

.second {
    max-width: 770px;
    max-height: 168px;
    margin: 16px 295px;
    text-align: center;
    font-size: 72px;
    font-weight: 700; 
    color: #FFFFFF;  
}

.second span {
    color: #30B868;
}

.third {
    max-width: 1360px;
    max-height: 60px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
}

.hero-button {
    max-width: 465px;
    max-height: 52px;
    margin: 32px 447.5px;
    display: flex;
    justify-content: space-between;
    gap: 16px;

}

.hero-button .but1 {
    max-width: 251px;
    max-height: 52px;
    border-radius: 4px;
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}


.but2 {
    max-width: 198px;
    max-height: 52px;
    border: 1px #FFFFFF solid;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    display: inline;
    text-align: center;

}

#card {
    max-width: 1600px;
    padding-top: 45px;
}

#card .cardcontainer {
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFFFFF;

}
 .cardcontainer .cardabout {
    max-width: 1360px;
    text-align: center;
 }

 .cardabout h2{
    font-size: 48px;
    font-weight: 700px;
    margin-bottom: 16px;
    color: #001931;
 }
 
 .cardabout p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 44px;
 }

 .cardset {
    display: flex;
    justify-content: space-between;
    gap: 24px;
 }

 .cardset .cardinfo {
    max-width: 322px;
    padding-top: 69.5px;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px #0000001a;
 }

 .cardinfo .logo {
    max-width: 60px;
    max-height: 60px;
    margin: 0 auto;
    background-color: #F95555;
    border-radius: 50%;
    margin-bottom: 16px;

 }

 .cardset .cardinfo .logo img {
    padding: 14.04px 13.9px 13.9px 14.04px;
    max-width: 32px;
    max-height: 32px;
 }

 .cardinfo h4 {
    max-width: 274px;
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin: 0 auto;
    margin-bottom: 16px;
 }

.cardinfo p {
    max-width: 274px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin: 0 auto;
    margin-bottom: 69.5px;
}

#sol {
    max-width: 1600px;
    padding-top: 120px;
}

#sol .solcontent {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 120px;
}

.solcontent .sol-img {
    max-width: 600px;
    border-radius: 12px;
}

.solinfo {
    max-width: 700px;
    margin-top: 102px;
}

.sol-text h4 {
    max-width: 700px;
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    text-align: left;
}

.sol-text h2 {
    max-width: 700px;
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    text-align: left ;
    line-height: 58px;
    padding-right: 50px;
    margin-bottom: 16px;
}

.sol-text p {
    max-width: 700px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    padding-right: 220px;
    text-align: left;
    margin-bottom: 40px;
}
.sol-points {
    max-width: 700px;
}
.sol-points .point {
    display: flex;
    gap: 6px;
    margin-bottom: 16px;
}
.sol-points .point p {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
    text-align: left;
}

#access {
    max-width: 1600px;
    padding-top: 2px;
    
}

.access-content {
    max-width: 1360px;
    margin: 0 auto;
    padding-top: 80px;
    text-align: center;
    background-color: #F7F6F2;
    padding-bottom: 80px;
    margin-bottom: 120px;
    border-radius: 12px;
}

.access-content h3 {
    max-width: 1280px;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.access-content .special1 {
    max-width: 1280px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
}

.access-content .special2 {
    max-width: 1280px;
    margin: 0 auto;
    font-size: 16px;
    margin-bottom: 24px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
}

.access-content button {
    max-width: 194px;
    margin: 0 auto;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 16px;

    
}


.access-content button span {
    max-width: 132px;
    color: #FFFFFF;
    /* text-align: justify; */
    font-weight: 600;
    font-size: 16px;
    margin-left: 16px;
    margin-bottom: 16.5px;
    margin-top: 16.5px;
}

.access-content button img {
    max-width: 20px;
    margin-right: 16px;
    margin-bottom: 16.5px;
    margin-top: 16.5px;
}

.access-content .special3 {
    max-width: 1280px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}

#footer {
    max-width: 1600px;
    padding-top: 120px;
    background-color: #001931;
}

#footer .footer-contents {
    max-width: 1360px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
}

.footer-logo {
    max-width: 350px;
    margin-top: 0px;

}

.footer-logo img {
    max-width: 139px;
    display: flex;
    justify-content: flex-start;
}

.footer-links {
    max-width: 220px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

}
.footer-links p {
    max-width: 113px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
}

.social-links div {
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.social-links {
    max-width: 92px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.copyright {
    max-width: 1360px;
    margin: 80px auto;
    border-top: 1px solid #E5E7EB33;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0;
}

.copyright p {
    max-width: 1360px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FAFAFA;
    text-align: center;
}



